.scrollable-div {
  background-color: #f1f1f1;
  height: 35.5em;
  width: 90%;
  overflow-y: scroll;
  /* text-align: justify; */
  padding: 10px;
}

@media screen and (max-width: 1030px) {
  .web-camera {
    width: 500px;
    height: 390px;

  }
}